/* Import the general styles from styles.css */
@import url('../Styles/styles.css');

/* Additional styles for the Contact page */
body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

section {
    padding: 2em;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    color: #333;
}

form {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e5b800;
}

/* Add any other styles specific to the Contact page */
