/* Import the general styles from styles.css */
@import url('../Styles/styles.css');

/* Additional styles for the FAQ page */
body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

section {
    padding: 2em;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    color: #333;
}

h3 {
    color: #ffcc00;
}

p {
    line-height: 1.6;
}

.faq-item {
    text-align: left;
    margin-bottom: 20px;
}

/* Add any other styles specific to the FAQ page */
